/.env
/frontend/node_modules
/backend/node_modules
.DS_Store
*/.DS_Store
/frontend/dist
/frontend/dist/assets
/frontend/src/.DS_Store
/backend/dist
/logs
/coverage
/.vscode
/.idea
/.eslintcache
/.prettiercache
/.env.local
/.env.development
/.env.production
/.env.test
/.env.*.local
/.next
/out
/dist
/tmp
*.log
*.lock
*.zip
*.tar.gz
*.bak
*.swp
*.swo
*.tmp
*.cache